h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
}

.container {
  max-width: 500px;
}

form {
  margin-bottom: 20px;
}

li {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

li > a > span {
  margin-left: 15px;
}